/**
color principal: #3F52B5; azul claro
color secundario: #FFA441; anaranjado
color terciario: #FFE641; amarillo
**/
/**
body {
    background-color: #FFA441;
}
**/


nav a:hover {
    background-color: #3F52B5;
    transition: 0.3s;
    cursor: pointer; 
}

a {
    color: #FFE641;
}